:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --main-transition: 0.5s;
}

.courses-container {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.courses-container .course {
  overflow: hidden;
}

.courses-container .course .instructor {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 20px;
  top: 20px;
  border: 2px solid white;
}

.courses-container .course .cover {
  max-width: 100%;
}
.courses-container .course div .description {
  line-height: 1.6;
}

.courses-container .course .info {
  border-top: 1px solid #eee;
}
.courses-container .course .info .title {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .courses-container {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
